<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomNom!</title>

    <!-- Styleing tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="../static/css/homepage.css" rel="stylesheet">
    <link href="../static/css/listings.css" rel="stylesheet">

    <!-- React scripts  -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js" ></script>
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>


    <!-- React Components -->
    <script type = "text/jsx" src="/static/js/signUp.jsx"></script>
    <script type = "text/jsx" src="/static/js/logIn.jsx"></script>
    <script type = "text/jsx" src="/static/js/listingComp.jsx"></script>
    <script type = "text/jsx" src="/static/js/newListing.jsx"></script>
    <script type = "text/jsx" src="/static/js/userOrder.jsx"></script>
    <script type = "text/jsx" src="/static/js/userListing.jsx"></script>
    <script type = "text/jsx" src="/static/js/logout.jsx"></script>
    <script type = "text/jsx" src="/static/js/foodApp.jsx"></script>
     
      
  </head>

  <body>
   
    <div id="root">  </div>

  </body>
</html>

