<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet"
        href="/static/css/homepage.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food App</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"> </script>

      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
      <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

      <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>

      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      
  </head>

  <body>
    <header>
      <h1>Welcome to trial run of My_Food_App !</h1>
    </header>

    
      <div id="root">  </div>
        <script type ="text/babel">

       
        ReactDOM.render(
          <h1>Hello, world!</h1>,
          document.getElementById('root')
        );
      </script>
     
     
    <script type = "text/jsx" src="/static/js/foodApp.jsx"></script>
    
  </body>
</html>
